<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>저장하기</title>
	<style type="text/css">
		table{width: 800px;margin: auto;}
		td{text-align: center;padding: 10px;}
		input{width: 100%;height: 30px;}
		textarea{width: 100%;}
	</style>
	<script type="text/javascript">
		window.onload=function(){
			document.querySelector("#form").onsubmit=function(){
				
			};
		};
	</script>
</head>
<body>
	<form action="updateOk" method="post" id="form">
		<input type="hidden" name="idx" th:value="${vo.idx}"/>
		<table>
			<tr>
				<td>이름</td>
				<td><input type="text" name="name" th:value="${vo.name}"/></td>
				<td>비밀번호</td>
				<td><input type="password" name="password" th:value="${vo.password}"/></td>
			</tr>
			<tr>
				<td>제목</td>
				<td colspan="3"><input type="text" name="subject" th:value="${vo.subject}"/></td>
			</tr>
			<tr>
				<td style="vertical-align: top;">내용</td>
				<td colspan="3"><textarea name="content" id="content" cols="30" rows="10">[[${vo.content}]]</textarea></td>
			</tr>
			<tr>
				<td>파일</td>
				<td><img th:src="'/upload/'+${image}" th:alt="@{|/${image}|}"/></td>
			</tr>
			<tr>
				<td colspan="4">
				<input type="submit" style="width: 100px;" value="수정하기"/>
				<input type="button" style="width: 100px;" onclick="history.back();" value="뒤로가기"/>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>